   <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>INVEST IN PROPERTY</i> <br /> <i>AROUND AUSTRALIA'S</i> <br /> <i>TOP 10 UNIS</i></h2>
                <p><i>Our latest research explores</i> <br /> <i>the investment potential</i> <br /> <i>around our top 10 Universities </i></p>
                <div class="da-img"><img class="img-responsive" src="assets/plugins/parallax-slider/img/1.png" alt=""></div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->