        <!-- Topbar -->
        <div class="topbar-v1 sm-margin-bottom-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled top-v1-contacts">
                            <li>
                                <i class="fa fa-envelope"></i> <a href="mailto:info@propresearch.com">info@propresearch.com</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> +61 7 3040 9888
                            </li>
                            <li>
                                <i class="fa fa-skype"></i> <a href="skype:propresearch">propresearch</a>
                            </li>
                        </ul>
                    </div>
                    <!--
                    <div class="col-md-6">
                        <ul class="list-unstyled top-v1-data">
                            <li><a href="#"><i class="fa fa-home"></i></a></li>
                            <li><a href="#"><i class="fa fa-globe"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="#"> Quicklinks</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    -->
                </div>        
            </div>
        </div>
        <!-- End Topbar -->